---
import { getPageInfo, getLatestPosts } from '../lib/wp';

const { title, content } = await getPageInfo('running-colombia');
const posts = await getLatestPosts({ perPage: 100 });

const now = new Date();
const upcomingRaces = posts.filter(({ date }) => new Date(date) > now);
const pastRaces = posts.filter(({ date }) => new Date(date) <= now);
---

<header class="bg-gray-900 text-white py-8 text-center border-b-4 border-orange-400">
  <h1 class="text-4xl font-bold">{title}</h1>
  <p class="text-lg mt-2">Blog de las carreras en Colombia {new Date().getFullYear()}</p>
</header>

<section class="container mx-auto px-4 py-8">
  <!-- PRÓXIMAS CARRERAS -->
  <section>
    <h2 class="text-2xl font-semibold mb-4 text-gray-600">Próximas Carreras</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
      {
        upcomingRaces.map(race => (
          <article class="bg-white shadow-md rounded-xl overflow-hidden border border-gray-200 hover:shadow-lg transition p-4">
            <img src={race.featuredImage} alt={race.title} class="w-full h-32 object-cover rounded-md mb-4" />
            <h3 class="text-lg font-semibold text-gray-800">
              <a href={`/posts/${race.slug}`} class="text-gray-700 hover:text-orange-500 transition">
                {race.title}
              </a>
            </h3>
            <div class="text-sm text-gray-500">{new Date(race.date).toLocaleDateString()}</div>
            <div class="prose text-sm mt-2 text-gray-600" set:html={race.excerpt} />
          </article>
        ))
      }
    </div>
  </section>

  <!-- CARRERAS PASADAS -->
  <section class="mt-10">
    <h2 class="text-2xl font-semibold mb-4 text-gray-600">Carreras Pasadas</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
      {
        pastRaces.map(race => (
          <article class="bg-gray-200 opacity-70 hover:opacity-100 transition-opacity border border-gray-300 rounded-xl overflow-hidden shadow-md hover:shadow-lg transform hover:-translate-y-1 p-4">
            <img
              src={race.featuredImage}
              alt={race.title}
              class="w-full h-32 object-cover rounded-md mb-4 opacity-80"
            />
            <h3 class="text-lg font-semibold text-gray-800">
              <a href={`/posts/${race.slug}`} class="text-gray-700 hover:text-orange-500 transition">
                {race.title}
              </a>
            </h3>
            <div class="text-sm text-gray-500">{new Date(race.date).toLocaleDateString()}</div>
            <div class="prose text-sm mt-2 text-gray-600" set:html={race.excerpt} />
          </article>
        ))
      }
    </div>
  </section>
</section>
